/* CSS Document */

BODY {
    font-family: Verdana, sans-serif;
	margin: auto;
	position:relative;
    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    /* W3C */
    display:box;
    box-orient:horizontal;
}
#display_month {
    text-transform:uppercase;
    color: #9e968c;
    padding-left:15px;
}
/*
#display_date {
    font-size:120%;
}
*/
#settings {
    padding: 5px 20px;
    background: #9e968c;
}
#graph {
    padding: 5px 20px;
}
#histogram {
    display: none;
    padding: 5px 20px;
    width:300px;
}

#about {
    padding: 5px 20px;
   /* width:270px;*/
    background: #9e968c;
}
.ui-loader {
    display: none;
}
#graphfooter {
    display: none;
}
#settings_footer {
    padding-top:100px;
}

.ui-accordion-header {
    padding-left:30px;
}


/* Optional styles */
.sidecontentpullout {
        background-color: #e89e00;
        font-size: .8em;
        color: White;
        padding: 14px 8px;
        -moz-border-radius-bottomleft: 1em;
        -moz-border-radius-topleft: 1em;
        -webkit-border-bottom-left-radius: 1em;
        -webkit-border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
}

.sidecontentpullout:hover {
        background-color: #444444;
        color: White;
}

.sidecontent {
        background-color: #9e968c;
        color: White;
        font-size:.8em;
        -moz-border-radius-bottomleft: 1em;
        -webkit-border-bottom-left-radius: 1em;
        border-bottom-left-radius: 1em;
}

.sidecontent > div > div {
        padding-left: 10px;
        padding-right: 40px;
}

a {
    outline:none;
    -moz-outline-style:none;
}

